._field {
    display: block;
    width: 100%;
    cursor: pointer;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 8px;
        color: var(--heading);
        font-weight: 500;
        @include adaptive_font_size(14, 12);
    }

    &__input {
        width: 100%;
        padding: 12px 20px;
        background-color: var(--background-area);
        border: 1px solid var(--border-base);
        border-radius: 12px;
        @include adaptive_font_size(16, 14);

        &::placeholder {
            font-size: inherit;
            font-family: 'Fira Sans', sans-serif;
        }
    }
}