:root {
    --heading_color: #1D1C39;
    --plain-text_color: #6B6A85;
    --primary_color: #5851E2;
    --background_color: #F6F8FB;
    --el-background_color: #FFFFFF;
    --border_color: #EBEBF3;

    --heading_font-family: 'Ubuntu';
    --plain-text_font-family: 'Inter';
}
