// ==> Colours palette
* {
    --primary: #5851E2;
    --secondary: #8851E2;
    --tertiary: #8C86FF;
    --heading: #1D1C39;
    --paragraph: #6B6A85;
    --success: #51E271;
    --warning: #E29751;
    --danger: #E25151;
    --border-base: #EBEBF3;
    --border-dark: #9997B5;
    --background: #F6F8FB;
    --background-area: #FFFFFF;
}


// ==> Container
._container {
    display: block;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
