._noscroll {
    overflow: hidden !important;
}

._alert-box {
    width: 100%;
    padding: 8px 16px;
    background-color: #FCEEEE;
    border: 2px solid var(--danger);
    border-radius: 12px;
    color: var(--danger);
    font-weight: 500;
}

._hidden {
    display: none;
}