// ==> Adaptability of font size on different screens
@mixin adaptive_font_size($desktopSize, $mobileSize, $type: 0) {
    // desktopSize — max font-size
    // mobileSize — min font-size
    $addSize: $desktopSize - $mobileSize;
    $maxWidth: 1440;

    @if $type == 1 {
        // if the screen size is smaller than $maxWidth
        font-size: $desktopSize + px;

        @media (max-width: #{$maxWidth + px}) {
            font-size: calc(#{$mobileSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    }

    @else if $type == 2 {
        // if the screen size is more than $maxWidth
        font-size: $desktopSize + px;

        @media (min-width: #{$maxWidth + px}) {
            font-size: calc(#{$mobileSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    }

    @else {
        // Always
        font-size: calc(#{$mobileSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}