.login-content {
    &__heading {
        font-weight: 500;
        line-height: 1;
        @include adaptive_font_size(28, 20);
    }

    &__subtitle {
        @include adaptive_font_size(16, 14);

        a {
            color: var(--paragraph);
            transition: color .3s;

            &:hover {
                color: var(--primary);
            }
        }
    }

    &__heading,
    &__subtitle {
        text-align: center;
    }

    &__sepline {
        position: relative;
        height: 3px;
        width: 100%;
        max-width: 320px;
        margin: 32px auto 12px;
        padding: 1px 0;
        background-color: var(--border-base);

        span {
            position: absolute;
            left: 50%;
            top: 0;
            padding: 4px 16px;
            transform: translate(-50%, -50%);
            background-color: white;
        }
    }

    &__error {
        max-width: 320px;
        margin-bottom: 16px;
    }
}

.login-form {
    margin-top: 16px;
    &__field {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 16px;
    }

    &__btn {
        display: block;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        font-weight: 500;
    }

    &__recovery {
        color: var(--paragraph);
        font-weight: 400;
        transition: color .3s;

        &:hover {
            color: var(--primary);
        }
    }
}

.social-auth {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--paragraph);
        text-decoration: none;
        background-color: var(--background-area);
        border: 2px solid var(--border-base);
        border-radius: 12px;
        transition: color .3s,
                    border-color .3s;

        &--google:hover {
            color: #EA4335;
            border-color: #EA4335;

            .social-auth__icon {
                fill: #EA4335;
            }
        }

        &--vk:hover {
            color: #0077FF;
            border-color: #0077FF;

            .social-auth__icon {
                fill: #0077FF;
            }
        }

        &--tg:hover {
            color: #25A3E1;
            border-color: #25A3E1;

            .social-auth__icon {
                fill: #25A3E1;
            }
        }
    }

    &__icon {
        height: 24px;
        width: 24px;
        margin-right: 12px;
        fill: var(--paragraph);
        transition: fill .3s;
    }
}